html h1,p,label{
    color:black!important;
}
.navbar{
    padding:0!important;
    border:black;
    margin-bottom:0px;
    height:50px;
}
.navbar-brand{
    color:white!important;
    margin-left:105px;
}
#nb {
    background: #171717 !important;
    color: white !important;
    z-index:1!important;
    box-shadow: 10px 10px 20px white!important;
}
.lines {
    top: 0;
    left: 0;
    right: 0;
    height:100%;
    margin: auto;
    width: 90vw;
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -35%;
}
.line:nth-child(1)::after {
    animation-delay: 0.5s;
}
.line:nth-child(3) {
    display:none;
    margin-left: -10%;
}
.line:nth-child(2) {
    margin-left: -21.5%;
}
.line:nth-child(4) {
    margin-left: 25%;
}
.line:nth-child(5) {
    margin-left: 38%;
}

.line:nth-child(3)::after {
    animation-delay: 1.5s;
}

@keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}
 canvas{
    width:100%;
    height:756px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0px;
    left: 0;
    z-index:0!important;
 }
.content{
    overflow:hidden;
    width:100%;
    height:670px;
    z-index:-1!important;
}
 .main-title {
    width:437px;
    position: absolute;
    margin: 0;
    padding: 5;
    color: #F9F1E9!important;
    text-align: center;
    top: 35%;
    left: 48%;
    -webkit-transform: translate3d(-40%, -30%, 0);
    transform: translate3d(-40%, -30%, 0);
    z-index:1!important;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 22px 70px 4px;
 }

 .demo .main-title {
    text-transform: uppercase;
    position: absolute;
    font-size: 2.2em;
    letter-spacing: 2.1em;
    z-index:1!important;
 }

 .main-title .thin {
    font-weight: 200;
 }

 @media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 3em;
    }
 }
 @media only screen and (max-width: 768px) {
    html{
        width:100%!important;
    }
    html,body{
        overflow:hidden;
    }
    .container1{
        width:768px;
    }
    .icon{
        background:red;
    }
    #nb{
        width:100%;
    }
 }
 .container1{
    color:white;
    width:100%!important;
    background-size: 100%;
    height:751px!important;
    background-repeat:no-repeat;
    background-position: center center;
    background-image: url("https://plus.unsplash.com/premium_photo-1663040543387-cb7c78c4f012?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80");
 }
.card{
margin-top:430px;
height: 200px;
width:300px;
border: 1px white solid;
border-radius: 5px;
margin-right:130px;
}
.card:hover{
background-color: rgba(0, 0, 0, 0.7);
}
.col-lg-12{
padding:0;
}
.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0!important;
}
.aa:hover{
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0!important;
}
.icon{
    position:absolute;
    left:670px;
    top:100px;
}
.root-container{
    width:100%;
}
.footer{
    background: white;
    color:#171717 !important;
    border: 0px black solid;
    position:relative;
    bottom:-1px;
}
footer a{
    color:white;
}
footer a:hover{
    color:#d9534f;
    background:white;
}
footer p{
    height:23px;
    margin-top:2px;
    border: 2px black solid;
}
.root-footer{
    background: #171717 !important;
    color:white!important;
    width:100%!important;
    margin:0!important;
    padding:0!important;
}
.aa{
    position:absolute;
    right:54px;
    top:5px;
}
input{
    border-radius: 10px!important;
}
.user-name {
padding: 0 !important ;
padding-left: 5px;
padding-top: 15px !important;
text-align: center;
a {
color: #fff !important;
margin: 0 !important;
padding: 5px!important;
}
a:hover, a:focus {
color: #000 !important;
}
}
.nav.navbar-right {
padding-bottom: 10px;
padding-top: 5px;
}
.nav.navbar-nav {
.navbar-link {
border-radius: 5px;
color: #fff;
margin-top: 15px;
padding: 8px;
}
.navbar-link:focus, .navbar-link:hover {
background: #3071a9;
color: #fff;
}
li a {
margin-right: 5px;
}
}
.nav.navbar-right li {
.btn {
color: #fff !important;
margin-top: 5%;
}
.btn-danger:hover, .btn-danger:focus {
background-color: darken(#d9534f,20%) !important;
}
.btn-primary:hover, .btn-primary:focus {
background-color: darken(#428bca,20%) !important;
}
}
.btn-primary:visited, .btn-danger:visited {
color: #fff;
}
.description1{
    color: black;
    display:inline!important;
}
.no-left-padding{
    padding-left:0!important;
}
.no-right-padding{
    padding-right:0!important;
}
.flash{
    position:absolute;
    width:100%;
    z-index:1;
    margin-bottom:0;
}
li{
    color:black;
}
.features li{
    color:white;
}
.homepage{
    color:black;
}
.member{
    width:50%;
    position: absolute;
    top:8px;
    right:500px;
}
.user-name, .logout{
    position:absolute;
    top:-8px;
    left:123px;
}
.logout{
    padding:0;
    width:20%;
}
.table tr td {
    a.main-link {
    color: #428bca;
    }
    a.main-link:hover {
    background: none;
    }
}
dl{
    color:black;
}
.button-35:hover{
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0!important;
    background:#121212!important;
}
.af {
    color:black;
}
.field_with_errors{
    background-color: rgba(255, 0, 0, 0.3)!important;
    border-radius:5px;
}
